<div>
<h3>Thank you for schoosing to donate. Please pick a time to schedule your donation</h3>
<input type="date" id="actiondate">Donate date</input>
<h4>
  Some great local places to donate include: <a href="http://www.salvationarmyusa.org/">The Salvation Army</a> and <a href="http://www.goodwill.org/">Goodwill</a>
</h4>
</div>
<a href="/reduce" class="btn btn-back" rel="nofollow">back</a>
